<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @switt.name %>
</p>

<p>
  <strong>Super power:</strong>
  <%= @switt.super_power %>
</p>

<%= link_to 'Edit', edit_switt_path(@switt) %> |
<%= link_to 'Back', switts_path %>
